{% extends './users/index.html.twig' %}

{% block title %}Reports{% endblock %}

{% block body %}
    <h1>Reports</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ report.id }}</td>
            </tr>
            <tr>
                <th>Name_report</th>
                <td>{{ report.nameReport }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ report.createdAt ? report.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('reports_index') }}">back to list</a>

    <a href="{{ path('reports_edit', {'id': report.id}) }}">edit</a>

    {{ include('reports/_delete_form.html.twig') }}
{% endblock %}
